* {
  box-sizing: border-box;
  margin: 0;
}

:root{
  --main-bg-color: #ffffffa8;
  --main-txt-color: #1a1a1a;
}

body{
  width: 100vp;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Lucida Std', Arial, Helvetica, sans-serif;
  background-color: var(--main-bg-color);
}

h2{
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 2%;
  right: 2%;
}

h3{
  font-family: 'MatrixExtraBold','Akzidenz-Grotesk BQ', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
}

/* --------WALL------- */
.floor{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
}

#bg-filter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/bgfilter.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.plant{
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  z-index: 2;
}
.table{
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 40%;
  z-index: 2;
}
.bureau{
  position: absolute;
  bottom: -10%;
  left: 14%;
  width: 50%;
  z-index: 2;
}
.shoes{
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  z-index: 2;
}
.lamp{
  position: absolute;
  bottom: -35%;
  left: 12%;
  width: 40%;
  z-index: 2;
}
.floor .grey-bg{
  background-color: #E2E0E0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 35%;
}
.floor .yellow-bg{
  background-color: #DED4C3; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 35%;
}
.floor .blue-bg{
  background-color: #BBC7CE;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 35%;
}
#patterns{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
  opacity: 80%;
}

/* -------CONFIGURATOR-------- */

.configurator{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10% 4%;
  width: 30%;
  height: 100vh;
}

.conf-patterns{
  margin-top: 10%;
}

.conf-colours{
  margin-top: 10%;
}
.conf-colours .grey{
 background-color: #E2E0E0;
 opacity: 35%;
}
.conf-colours .yellow{
 background-color: #DED4C3;
 opacity: 35%;
}
.conf-colours .blue{
 background-color: #BBC7CE;
 opacity: 35%;
}

.conf-perspective{
  margin-top: 10%;
}

ul{
  list-style: none;
  display: flex;
  margin-left: -11%;
  margin-top: 4%;
}

li{
  display: inline-block;
  margin: 2%;
  flex-shrink: 50%;
}

.tn{
  width: 5em;
  height: 5em;
  box-shadow: 1px 3px 6px #8e8f8eea;
}