* {
  box-sizing: border-box;
  margin: 0;
}
:root{
  --main-bg-color: #e8e9e941;
  --main-txt-color: #1a1a1a;
  --bg-grey: #f5f5f5;
  --bg-yellow: #DED4C3;
  --bg-blue: #BBC7CE;

}
body{
  width: 100vp;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Lucida Std', Arial, Helvetica, sans-serif;
  background-image: url(images/bgfilter.png);
  background-size: cover;
}
h2{
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2;
}
h3{
  font-family: 'MatrixExtraBold','Akzidenz-Grotesk BQ', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
}

/* --------WALL------- */
main{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 105vh;
  box-shadow: 1px 0px 6px #8e8f8eea;
  z-index: 2;
} 
/* ------In Perspective----- */
.plant{
  position: absolute;
  top: 20%;
  left: 36%;
  width: 20%;
  z-index: 2;
}
.bureau{
  position: absolute;
  bottom: -10%;
  left: 14%;
  width: 46%;
  z-index: 2;
  opacity: 0;
}
.sofa{
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 60%;
  z-index: 2;
  opacity: 0;
}
.lamp{
  position: absolute;
  bottom: -35%;
  left: 12%;
  width: 40%;
  z-index: 2;
}
/* ------Bg Colours----- */
main .grey-bg{
  background-color: var(--bg-grey);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 35%;
  opacity: 0;
}
main .yellow-bg{
  background-color: var(--bg-yellow); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 35%;
  opacity: 0;
}
main .blue-bg{
  background-color: var(--bg-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 35%;
}
/* ------Patterns----- */
#patterns{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
  opacity: 80%;
}

/* -------CONFIGURATOR-------- */
.configurator{
  position: absolute;
  top: 0;
  right: 0;
  /* margin: 7.5% 3.2%; */
  width: 40%;
  height: 100vh;
  background-color: #E2E0E0;
  opacity: 70%;
  z-index: 1;
}
ul{
  list-style: none;
  display: flex;
  margin-left: -11%;
  margin-top: 4%;
}
li{
  display: inline-block;
  margin: 2%;
  flex-shrink: 50%;
}
.tn{
  width: 5em;
  height: 5em;
  background-color: #E2E0E0;
  box-shadow: 1px 3px 6px #8e8f8eea;
  z-index: 3;
}
/* ------Conf Patterns------ */
.conf-patterns{
  margin-top: 22%;
  margin-left: 20%;
  z-index: 2;
}
/* ------Conf Colours------- */
.conf-colours{
  margin-top: 10%;
  margin-left: 20%;
}
.conf-colours .grey{
 background-color: var(--bg-grey);
}
.conf-colours .yellow{
 background-color: var(--bg-yellow);
}
.conf-colours .blue{
 background-color: var(--bg-blue);
}
/* ------Conf Perspectives------ */
.conf-perspective{
  margin-top: 10%;
  margin-left: 20%;
}


/* ------temp-------- */
/* .double{
  display: none;
}

.double-2nd{
  display: none;
} */