* {
  box-sizing: border-box;
  margin: 0;
}
:root{
  --main-bg-color: #e8e9e941;
  --main-txt-color: #1a1a1a;
  --bg-grey: #f5f5f5;
  --bg-yellow: #DED4C3;
  --bg-blue: #BBC7CE;

}
body{
  width: 100vp;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  font-family: 'Akzidenz-Grotesk BQ medium', Arial, Helvetica, sans-serif;
  background-image: url(images/bgfilter.png);
  background-size: cover;
}
h2{
  font-size: 14px;
  font-weight: 550;
  position: absolute;
  top: 2%;
  right: 4%;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media only screen and (max-width: 1100px) and (min-width: 601px){
  h2{
    left: 18%;
  }
}

@media only screen and (max-width: 600px){
  h2{
    font-size: 16px;
    font-weight: 600;
    position: fixed;
    top: 3%;
    right: 9%;
    z-index: 2;
  }
}
@media only screen and (max-width: 380px){
  h2{
    font-size: 16px;
    font-weight: 600;
    position: fixed;
    top: 2.5%;
    right: 43%;
    z-index: 2;
  }
}
h3{
  font-family: 'Akzidenz-Grotesk BQ medium', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 0.5px;
}
h3 span{
  display: none;
}

@media only screen and (max-width: 600px){
h3{
  font-size: 16px;
  font-weight: 600;
  margin: 7px 0 3px;
  }
h3 span{
  display: inline-block;
}
}

/* --------WALL------- */
main{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  box-shadow: 1px 0px 6px #8e8f8eea;
  overflow: hidden;
  z-index: 2;
} 
@media only screen and (max-width: 600px){
  main{
    position: fixed;
    top: 8%;
    width: 100%;
    height: 50%;
    background-color: #f5f5f5;
  } 
}
/* ------In Perspective----- */

#perspbtnBureau{
  position: absolute;
  bottom: -10%;
  left: 14%;
  width: 50%;
  z-index: 5;
  opacity: 0;
}
#perspbtnSofa{
  position: absolute;
  bottom: 0;
  left: 32%;
  width: 80%;
  z-index: 5;
  opacity: 0;
}
#perspbtnLamp{
  position: absolute;
  bottom: -35%;
  left: 12%;
  width: 40%;
  z-index: 5;
  opacity: 0;
}
/* ------Bg Colours----- */
main #colorbtnGrey{
  background-color: var(--bg-grey);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main #colorbtnYellow{
  background-color: var(--bg-yellow); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main #colorbtnBlue{
  background-color: var(--bg-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ------Patterns----- */
.pattern{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 3;
}
/* -------CONFIGURATOR-------- */
.configurator{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  background-color: #E2E0E0;
  opacity: 70%;
  z-index: 1;
}
@media only screen and (max-width: 600px){
  .configurator{
    top: 25em;
    width: 100%;
    height: 77vh;
    background-color: transparent;
  }
}
@media only screen and (max-width: 380px){
  .configurator{
    top: 22.5em;
    width: 100%;
    height: 84vh;
    background-color: transparent;
  }
}
button{
  border-style: none;
  padding: 0;
  margin: 3% 5% 0 0;
  width: 6.8em;
  height: 6.8em;
  cursor:sw-resize;
}
button:hover{
  opacity: 70%;
}
@media only screen and (max-width: 600px){
  button{
    border-style: none;
    margin: 1% 1% 0 0;
    width: 9.3em;
    height: 8em;  
  }
}
@media only screen and (max-width: 380px){
  button{
    border-style: none;
    margin: 1% 1% 0 0;
    width: 8.4em;
    height: 8em;  
  }
}
.tn{
  background-color: #E2E0E0;
  box-shadow: 1px 3px 6px #8e8f8eea;
  z-index: 3;
}
/* ------Conf Patterns------ */
.conf-patterns{
  margin-top: 22%;
  margin-left: 18%;
  z-index: 2;
}
@media only screen and (max-width: 600px){
  .conf-patterns{
    margin: 13% 2% 0% 3%;
  }
}
#btnFull{
  background-image: url(images/thumbnails/tn-full.svg);
  background-size: cover;
}
#btnCircles{
  background-image: url(images/thumbnails/tn-dots.svg);
  background-size: cover;
}
#btnBlackDot{
  background-image: url(images/thumbnails/tn-blackdots.svg);
  background-size: cover;
}
/* ------Conf Colours------- */
.conf-colours{
  margin-top: 8%;
  margin-left: 18%;
}
@media only screen and (max-width: 600px){
  .conf-colours{
    margin-top: 0%;
    margin: 0 2% 0% 3%;
  }
}
.conf-colours .grey{
 background-color: var(--bg-grey);
}
.conf-colours .yellow{
 background-color: var(--bg-yellow);
}
.conf-colours .blue{
 background-color: var(--bg-blue);
}
/* ------Conf Perspectives------ */
.conf-perspective{
  margin-top: 8%;
  margin-left: 18%;
}
@media only screen and (max-width: 600px){
  .conf-perspective{
    margin: 0 2% 0% 3%;
  }
}
#btnLamp{
  background-image: url(images/thumbnails/tn-lamp.svg);
  background-size: cover;
}
#btnBureau{
  background-image: url(images/thumbnails/tn-bureau.svg);
  background-size: cover;
}
#btnSofa{
  background-image: url(images/thumbnails/tn-sofa.svg);
  background-size: cover;
}
/* ------Finish------ */

#finish{
  margin-left: 26%;
  margin-top: 10%;
}
#finish .finish{
  width: 8em;
  height: 3.5em;
  background-color: var(--main-txt-color);
  color: var(--bg-grey);
  box-shadow: 1px 0px 6px #8e8f8eea;
}
#finish .order{
  background-color: #183269;
}


@media only screen and (max-width: 600px){
  #finish{
    margin-left: 2%;
    margin-top: 6%;
  }
  #finish .finish{
    width: 14.5em;
    height: 4em;
    background-color: var(--main-txt-color);
    color: var(--bg-grey);
    background-color: var(--main-txt-color);
  }
  #finish .order{
    background-color: #07173a;
  }
}
@media only screen and (max-width: 380px){
  #finish{
    margin-left: 2.5%;
    margin-top: 5%;
  }
  #finish .finish{
    width: 13em;
    height: 4em;
    background-color: var(--main-txt-color);
  }
  #finish .order{
    background-color: #07173a;
  }
}
