* {
  box-sizing: border-box;
  margin: 0;
}
:root{
  --main-bg-color: #e8e9e941;
  --main-txt-color: #1a1a1a;
  --bg-grey: #f5f5f5;
  --bg-yellow: #DED4C3;
  --bg-blue: #BBC7CE;

}
body{
  width: 100vp;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  font-family: 'Akzidenz-Grotesk BQ medium', Arial, Helvetica, sans-serif;
  background-image: url(images/bgfilter.png);
  background-size: cover;
}
h2{
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 2%;
  right: 4%;
  z-index: 2;
}
h3{
  font-family: 'Akzidenz-Grotesk BQ medium', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* --------WALL------- */
main{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 105vh;
  box-shadow: 1px 0px 6px #8e8f8eea;
  overflow: hidden;
  z-index: 2;
} 
/* ------In Perspective----- */

#perspbtnBureau{
  position: absolute;
  bottom: -10%;
  left: 14%;
  width: 50%;
  z-index: 5;
  opacity: 0;
}
#perspbtnSofa{
  position: absolute;
  bottom: 0;
  left: 32%;
  width: 80%;
  z-index: 5;
  opacity: 0;
}
#perspbtnLamp{
  position: absolute;
  bottom: -35%;
  left: 12%;
  width: 40%;
  z-index: 5;
  opacity: 0;
}
/* ------Bg Colours----- */
main #colorbtnGrey{
  background-color: var(--bg-grey);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main #colorbtnYellow{
  background-color: var(--bg-yellow); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main #colorbtnBlue{
  background-color: var(--bg-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ------Patterns----- */
.pattern{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 3;
}

/* -------CONFIGURATOR-------- */
.configurator{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 105vh;
  background-color: #E2E0E0;
  opacity: 70%;
  z-index: 1;
}
button{
  border-style: none;
  padding: 0;
  margin: 5% 5% 0 0;
  width: 6.8em;
  height: 6.8em;
  cursor:sw-resize;
}
button:hover{
  opacity: 70%;
}
.tn{
  background-color: #E2E0E0;
  box-shadow: 1px 3px 6px #8e8f8eea;
  z-index: 3;
}
/* ------Conf Patterns------ */
.conf-patterns{
  margin-top: 25%;
  margin-left: 16%;
  z-index: 2;
}
#btnFull{
  background-image: url(images/thumbnails/tn-full.svg);
  background-size: cover;
}
#btnCircles{
  background-image: url(images/thumbnails/tn-dots.svg);
  background-size: cover;
}
#btnHexagon{
  background-image: url(images/thumbnails/tn-blackdots.svg);
  background-size: cover;
}
/* ------Conf Colours------- */
.conf-colours{
  margin-top: 10%;
  margin-left: 16%;
}
.conf-colours .grey{
 background-color: var(--bg-grey);
}
.conf-colours .yellow{
 background-color: var(--bg-yellow);
}
.conf-colours .blue{
 background-color: var(--bg-blue);
}
/* ------Conf Perspectives------ */
.conf-perspective{
  margin-top: 10%;
  margin-left: 16%;
}
#btnLamp{
  background-image: url(images/thumbnails/tn-lamp.svg);
  background-size: cover;
}
#btnBureau{
  background-image: url(images/thumbnails/tn-bureau.svg);
  background-size: cover;
}
#btnSofa{
  background-image: url(images/thumbnails/tn-sofa.svg);
  background-size: cover;
}


/* ------temp-------- */
/* .double{
  display: none;
}

.double-2nd{
  display: none;
} */